<h1 class="text-5xl text-black-900  font-extrabold">Usuarios</h1>

<div class="row">

    
<form class="max-w-sm mx-auto"> 
    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Apellido Paterno</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Apellido Materno</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Nombre</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Fecha Nacimiento</label>
    <input type="date" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Telefono</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">
    
    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Correo</label>
    <input type="email" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@gmail.com">

    

    <label for="countries" class="block mb-2 text-sm font-medium text-left text-gray-900">Distrito local</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Selecciona un distrito</option>
      <option value=1>Distrito 1</option>
      <option value=2>Distrito 2</option>
      <option value=3>Distrito 3</option>
      <option value=4>Distrito 4</option>
    </select>
  
</form>
  

</div>