<h1 class="text-5xl text-black-900  font-extrabold">Usuarios</h1>

<div class="row">

    
<form class="max-w-sm mx-auto"> 
    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Apellido Paterno</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Apellido Materno</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Nombre</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Fecha Nacimiento</label>
    <input type="date" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Telefono</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="">
    
    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Correo</label>
    <input type="email" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@gmail.com">

    

    <label for="countries" class="block mb-2 text-sm font-medium text-left text-gray-900">Distrito local</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Selecciona un distrito</option>
      <option value=1>Distrito 1</option>
      <option value=2>Distrito 2</option>
      <option value=3>Distrito 3</option>
      <option value=4>Distrito 4</option>
    </select>

  <label for="countries" class="block mb-2 text-sm font-medium text-left text-gray-900">Distrito Federal</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Selecciona un distrito</option>
      <option value=1>Distrito 1</option>
      <option value=2>Distrito 2</option>
      <option value=3>Distrito 3</option>
      <option value=4>Distrito 4</option>
    </select>

    <label for="countries" class="block mb-2 text-sm font-medium text-left text-gray-900">Seccion Electoral</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Selecciona una seccion</option>
      <option value=1>Seccion 1</option>
      <option value=2>Seccion 2</option>
      <option value=3>Seccion 3</option>
      <option value=4>Seccion 4</option>
    </select>

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Codigo postal</label>
    <input type="number" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
    placeholder="37744">

    <label for="email" class="block mb-2 text-sm text-left text-gray-900">Direccion</label>
    <input type="text" id="email" aria-describedby="helper-text-explanation" 
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
    placeholder="name@gmail.com">

    <label for="countries" class="block mb-2 text-sm font-medium text-left text-gray-900">Cargo</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <option selected>Selecciona una opcion</option>
      <option value=1>Militante</option>
      <option value=2>Simpatizante</option>
      <option value=3>Ninguno</option>
    </select>
    <p class="text-white">-</p>

    <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    type="submit">Subir</button>

    
</form>
  

</div>
