<h1 class="text-5xl text-black-900  font-extrabold">Simpatizantes</h1>
<div class="text-left">
    <a type="button" 
    class="bi bi-box-arrow-up
    text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
    [routerLink]="['/modules/registrar_usuario']"
    > Añadir</a>
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-lg text-gray-900 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Seccion
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Distrito
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Lider
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Editar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b text-base text-gray-800"
                *ngFor="let s of simpa.simpatizantes">
                    <td class="px-6 py-4">
                        {{s.idSimpatizante}}
                    </td>

                    <td class="px-6 py-4">
                        {{s.seccion}}
                    </td>

                    <td class="px-6 py-4">
                        {{s.distrito}}
                    </td>
                    <td class="px-6 py-4">
                        {{s.apellidoP}} {{s.apellidoA}} {{s.nombre}}
                    </td>
                    <td class="px-6 py-4">
                        {{s.encuestador}}
                    </td>

                    <td class="px-6 py-4">
                        <button type="button" class="bi bi-pen-fill
                        text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
                        [routerLink]="['/modules/editarSimpatizantes/',s.idSimpatizante]"
                        > Editar</button>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

